.dataTables_length {
	float: left;
	height: 30px;
	margin: 6px 0 4px;
	vertical-align: middle;
}

.dataTables_filter {	
	float: right;
	height: 30px;
	margin: 6px -3px 0 4px;
	vertical-align: middle;
}

.dataTables_info {
	float: right;
	margin-top: 6px;
	font-size: 12px;
	font-style: italic;
}

.dataTables_paginate {
	margin-top: 6px;
	font-size: 12px;
	margin-left: -8px;
}

.dataTables_paginate a{
	margin-left: 8px;
	cursor:pointer;
}

th.sorting_asc{
	width: 50px !important;
}

thead tr th{
	cursor:pointer;
}

thead tr th.sorting_asc{
	font-weight: bold;
}

tr.odd, tr.even{
	height: 30px;
	cursor:pointer;
}

tr.odd{
	background-color: #FCFCFC;
}

tr.even{
	background-color: #F9F9F9;
}

tr.row_selected{
	background-color: #DCDCDC;
}

#datatables{
	width: 100%;
}